body {
	background-color: rgb(33, 39, 33);
	margin: 0; /* Reset margin to zero */
	padding: 0; /* Reset padding to zero */
  }
  
  #text_stuff {
	color: black;
	width: auto;
	background-color: rgb(155, 154, 154);
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 5px;
	padding-right: 5px;

  }

  #text_stuff a {
	color: #103162;
	
  }
  
  #mybanner {
	width: auto;
	height: auto;
	scale: 1;
	margin-bottom: -5px;
  }
  
  h1 {
	text-align: center;
  }
  
  #banner_and_buttons {
	width: auto;
	height: auto;
	background-color: rgb(136, 28, 28);
	border-bottom: 6px solid black;
	
  }
  
  #buttonTable {
	background-color: rgb(33, 39, 33);
	border: 6px solid black;
	border-bottom: none;
	width: auto;
	
  }

  .redButton {
	position: relative;
	width: 200px;
  }
  
  footer {
	text-align: center;
	color: white;
	padding: 10px;
	background-color: rgb(136, 28, 28);
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
  }
  
  /* Media query for smaller devices */
  @media (max-width: 768px) {
	#text_stuff {
	  margin-left: 20px;
	  margin-right: 20px;
	}
  }

/* Side Bar menu */
.sidebar{
	height: fit-content;
	width: fit-content; /* Set the width of the sidebar */
  	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  	z-index: 1; /* Stay on top */
  	bottom: 0; /* Stay at the bottom */
  	left: 0;
  	background-color: rgb(136, 28, 28); 
  	overflow-x: auto; /* Disable horizontal scroll */
	padding: 10px 10px 10px;
	border: 7px solid black;
}

/* The navigation menu links */
.sidebar a {
	padding: 6px 8px 6px 16px;
	font-size: 20px;
  }

  .sidebar a:link {
	color: black;
  }
  
  .sidebar a:visited {
	color: black;
  }

.waterfall {
	width: 20%;
	position: inherit;
	float: right;
	border: 10px solid rgb(136, 28, 28);
	
}

.pdf-embed {
	width: 600px; /* Adjust the width as needed */
    height: 800px; /* Adjust the height as needed */
    display: block; /* Ensure it takes up space vertically */
    margin: 20px 0; /* Add some margin for spacing */
	
	
}
#resume-section {
    overflow: hidden; /* Ensure the section contains its children */
    padding: 20px; /* Add some padding for better spacing */
}

#socials {
	border: 10px solid rgb(136, 28, 28);
}
.jacksonhole {
	border: 10px solid rgb(136, 28, 28);
	width: 65%;
	float: right;

}