/* General body styling */
body {
	background-color: rgb(33, 39, 33); /* Dark background color */
	margin: 0; /* Reset margin to zero */
	padding: 0; /* Reset padding to zero */
}

/* Styling for the main text container */
#text_stuff {
	color: black; /* Text color */
	width: auto; /* Automatic width */
	background-color: rgb(155, 154, 154); /* Light gray background */
	margin-left: 15%; /* Left margin */
	margin-right: 15%; /* Right margin */
	padding-left: 5px; /* Left padding */
	padding-right: 5px; /* Right padding */
}

/* Styling for links inside the text container */
#text_stuff a {
	color: #103162; /* Link color */
}

/* Styling for the banner image */
#mybanner {
	width: auto; /* Automatic width */
	height: auto; /* Automatic height */
	scale: 1; /* Default scale */
	margin-bottom: -5px; /* Negative bottom margin */
}

/* Center align all h1 elements */
h1 {
	text-align: center; /* Center alignment */
}

/* Styling for the banner and buttons container */
#banner_and_buttons {
	width: auto; /* Automatic width */
	height: auto; /* Automatic height */
	background-color: rgb(136, 28, 28); /* Dark red background */
	border-bottom: 6px solid black; /* Black bottom border */
}

/* Styling for the button table */
#buttonTable {
	background-color: rgb(33, 39, 33); /* Dark background color */
	border: 6px solid black; /* Black border */
	border-bottom: none; /* No bottom border */
	width: auto; /* Automatic width */
}

/* Styling for individual buttons */
.redButton {
	position: relative; /* Relative positioning */
	width: 200px; /* Fixed width */
}

/* Styling for the footer */
footer {
	text-align: center; /* Center alignment */
	color: white; /* White text color */
	padding: 10px; /* Padding */
	background-color: rgb(136, 28, 28); /* Dark red background */
	position: relative; /* Relative positioning */
	width: 100%; /* Full width */
	left: 0; /* Align to the left */
	bottom: 0; /* Align to the bottom */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
	#text_stuff {
		margin-left: 20px; /* Reduced left margin */
		margin-right: 20px; /* Reduced right margin */
	}
	
	/* Make banner and buttons wrap */
	#banner_and_buttons {
		display: flex; /* Use flexbox layout */
		flex-direction: column; /* Stack items vertically */
		align-items: center; /* Center align items */
		width: auto; /* Automatic width */
	}

	/* Make individual red buttons wrap */
	#buttonTable {
		width: max-content; /* Automatic width */
		display: flex; /* Use flexbox layout */
		flex-wrap: wrap; /* Allow wrapping */
		justify-content: center; /* Center align items */
		background-color: rgb(136, 28, 28); /* Dark red background */
	}

	/* Adjust individual button styling */
	.redButton {
		max-width: 125px;
		width: auto; /* Adjust width for smaller screens */
		margin: 5px; /* Add margin for spacing */
		border: 4px solid rgb(0, 0, 0); /* Black border */
		border-radius: 60%;
	}
	.sidebar {
		display: none; /* Hide sidebar */
	}

	.pdf-embed {
		width: 80%; /* Full width */
		height: auto; /* Automatic height */
		
	}
	.dictionary {
		display: none; /* Hide dictionary */
	}
}

/* Styling for the dictionary block */
.dictionary {
	/*max-height: 100%; /* Fit content height */
	width: 10%; /* Fit content width */
	position: absolute; /* Fixed positioning */
	z-index: auto; /* Stay on btoom */
	top: 450px; /* Align to the top */
	right: 0px; /* Align to the right */
	background-color: rgb(136, 28, 28); /* Dark red background */
	overflow-y: visible; /* Disable verticle scroll */
	padding: 10px 10px 10px 10px; /* Padding */
	border: 7px solid black; /* Black border */
	border-top: 3.5px solid black; 
	border-bottom: 3.5px solid black;
}

/* Styling for the sidebar menu */
.sidebar {
	height: fit-content; /* Fit content height */
	width: fit-content; /* Fit content width */
	position: fixed; /* Fixed positioning */
	z-index: 1; /* Stay on top */
	bottom: 0; /* Align to the bottom */
	left: 0; /* Align to the left */
	background-color: rgb(136, 28, 28); /* Dark red background */
	overflow-x: auto; /* Disable horizontal scroll */
	padding: 10px 10px 10px; /* Padding */
	border: 7px solid black; /* Black border */
}

/* Styling for the sidebar links */
.sidebar a {
	padding: 6px 8px 6px 16px; /* Padding */
	font-size: 20px; /* Font size */
}

/* Styling for unvisited sidebar links */
.sidebar a:link {
	color: black; /* Black color */
}

/* Styling for visited sidebar links */
.sidebar a:visited {
	color: black; /* Black color */
}

/* Styling for the waterfall image */
.waterfall {
	width: 20%; /* Fixed width */
	position: inherit; /* Inherit positioning */
	float: right; /* Float to the right */
	border: 10px solid rgb(136, 28, 28); /* Dark red border */
}

/* Styling for embedded PDF */
.pdf-embed {
	width: 85%; /* Fixed width */
	height: 800px; /* Fixed height */
	display: block; /* Block display */
}

/* Styling for the resume section */
#resume-section {
	overflow: hidden; /* Contain children */
	padding: 20px; /* Padding */
}

/* Styling for the socials table */
#socials {
	border: 10px solid rgb(136, 28, 28); /* Dark red border */
}

/* Styling for the Jackson Hole image */
.jacksonhole {
	border: 10px solid rgb(136, 28, 28); /* Dark red border */
	width: 65%; /* Fixed width */
	float: right; /* Float to the right */
}
.hangman {
	width: 50%;
	
}
.data_explore_img {
	width: 60%;
}
.calc_img {
	width: 100%;
	
}
#project_table {
	width: 100%;
}

#project_table img {
	align-items: center;
}